- content_for :title,  t('about')
- content_for :header,  t('about')
- content_for :head do
  %meta{content: ", Todd Ramirez, Premium Rifles, custom rifles, custom rifle builer, accuracy rifles, biggame rifles,  Bolt Action Rifles, Gunsmith, Gunfitting", name: "Keywords"}/
  %meta{content: " Todd Ramirez premium rifles, Custom Shop, LLC, specializes in high quality rifle building, building premium bolt action rifles, gunsmithing and restoration services to the sporting arms community.", name: "Description"}/
#content
  = br() + photo('544.jpeg')
  = brn(2) + ptext('about_text0')
  = ptext('about_text1')
  = ptext('about_text2')
  = ptext('about_text3') + brn(25)
