- content_for :title,  t('events')
- content_for :header,  t('events')
- content_for :head do
  %meta{content: "todd ramirez, custom rifles, safari club international,SCI, DSC, dallas safari club, premium rifle builder, shotguns, bolt action rifles, restoration, gunsmith, East Texas", name: "Keywords"}/
  %meta{content: "Todd Ramirez Premium Rifle Builder show schedule.", name: "Description"}/
#content
  = brn(2) + photo('dsc_2022.jpeg')
  = ptext('events_text0_html')
  = ttext('events_text1') + brn(4)
  = photo('sci_2020.jpeg')
  = ptext('events_text2_html')
  = ttext('events_text3') + brn(30)
