- content_for :title,  t('gun_fitting')
- content_for :header,  t('gun_fitting')
- content_for :head do
  %meta{content: "todd ramirez, gun fitting, proper gun fit, custom shotgun fitter,  right hand cast, left hand cast, length of pull, pitch, custom rifles,pattern board,  custom stocks, stock bending, recoil pad, leather wrapped pad,  dt10 barrel, SO4, SO3, SO5, holland and holland, purdys, beretta, perazzi, aya", name: "Keywords"}/
  %meta{content: "Todd Ramirez, Gun Fitter- Improve your shooting by having your gun fitted to you properly. Specializes in Custom Rifles, Shotguns, Restoration and Gunsmithing.  Located in East Texas, 80 miles East of Dallas.", name: "Description"}/
#content
  = ttext('gun_fitting_text0_html') + br()
  = ptext('gun_fitting_text1_html') + brn(3)
  = ttext('gun_fitting_text2')
  = ptext('gun_fitting_text3_html')
  = ttext('gun_fitting_text4')+ brn(3)
  = ptext('gun_fitting_text5')
  = ptext('gun_fitting_text6_html')+ brn(3)
  = ttext('gun_fitting_text7')
  = ptext('gun_fitting_text8_html')+ brn(3)
  = xtext('gun_fitting_text9') + brn(10)
