- content_for :title,  t('key_chains')
- content_for :header,  t('key_chains')
- content_for :head do
  %meta{content: "keychains, security key chains, handmade, wedding gifts, groomsmen, exotic wood,", name: "Keywords"}/
  %meta{content: "Hand made keychains that are turned on a wood lathe by Taylor Ramirez and Tanner Ramirez", name: "Description"}/
#content
  = br() + photo_text('99.jpeg', 'key_chains_text0_html') + brn(3)
  = photo_text('84.jpeg', 'key_chains_text1_html') + brn(3)
  = photo_text('71.jpeg', 'key_chains_text2_html') + brn(10)
