<% content_for :title,  t('about_us') %>
<% content_for :header,  t('about_us') %>
<% content_for :head do %>
<meta name="Keywords" content=", Todd Ramirez, Premium Rifles, custom rifles, custom rifle builer, accuracy rifles, biggame rifles,  Bolt Action Rifles, Gunsmith, Gunfitting">
<meta name="Description" content=" Todd Ramirez premium bolt action rifle builder, also offers gunsmithing services.">
<% end %>
<div id="content">
<%= br() + photo('544.jpeg')%>
<%= brn(2) + ptext('about_us_text0') + brn(25)%>
</div>
