<% content_for :title,  t('show_schedule') %>
<% content_for :header,  t('show_schedule') %>
<div id="content">
<%= brn(3) + ptext('show_schedule_text0_html') %>
<%= ttext('show_schedule_text1') + brn(4)%>
<%= ptext('show_schedule_text2_html') %>
<%= ttext('show_schedule_text3') + brn(22)%>
</div>
