<% content_for :title,  t('show_schedule') %>
<% content_for :header,  t('show_schedule') %>
<% content_for :head do %>
<meta name="Keywords" content="todd ramirez, custom rifles, safari club international, dallas safari club, premium rifle builder, shotguns, bolt action rifles, restoration, gunsmith">
<meta name="Description" content="Todd Ramirez Premium Rifle Builder show schedule.">
<% end %>
<div id="content">
<%= brn(3) + ptext('show_schedule_text0_html') %>
<%= ttext('show_schedule_text1') + brn(4)%>
<%= ptext('show_schedule_text2_html') %>
<%= ttext('show_schedule_text3') + brn(30)%>
</div>
