- content_for :title, (@user.last_name.nil? || @user.last_name.nil?) ? 'User: ' + @user.email.partition('@').first.titleize : 'User: ' + (@user.first_name.to_s + ' ' + @user.last_name.to_s).titleize
.page-header
  -if @user.last_name.nil? || @user.last_name.nil?
    %h1=@user.email.partition('@').first.titleize
  -else
    %h1=(@user.first_name.to_s + ' ' + @user.last_name.to_s).titleize
.panel.panel-default
  .panel-heading User Information
  %table.table.panel-body
    -if !(@user.first_name.nil? || @user.first_name.empty?)
      %tr
        %td First Name
        %td= @user.first_name
    -if !(@user.last_name.nil? || @user.last_name.empty?)
      %tr
        %td Last Name
        %td= @user.last_name
    %tr
      %td Email
      %td= @user.email
