<% content_for :title,  t('metal_work') %>
<% content_for :header,  t('metal_work') %>
<% content_for :head do %>
<meta name="Keywords" content="Todd Ramirez, custom rifles, shotguns, finishes, dt10 barrel, SO4, SO3, SO5, holland and holland,  purdys, beretta, perazzi, aya,  Express Sights, Quarter Ribs, bluing, rust blue,  restoration, nitre bluing, color casing">
<meta name="Description" content="Todd Ramirez, Premium Bolt Action Rifle Builder, who specializes in one of a kind custom rifles.">
<% end %>
<div id="content">
<%= xtext('metal_work_text0_html') +  brn(3) %>
<%= ttext('metal_work_text1') + brn(3)%>
<%= gallery('131.jpeg 257.jpeg 223.jpeg 489.jpeg 291.jpeg 282.jpeg 896.jpeg', 'g0') + brn(3)%>
<%= photo('768.jpeg') + brn(10)%>
</div>
