<% content_for :title,  t('metal_work') %>
<% content_for :header,  t('metal_work') %>
<div id="content">
<%= xtext('metal_work_text0_html') +  brn(3) %>
<%= ttext('metal_work_text1') + brn(3)%>
<%= gallery('131.jpeg 257.jpeg 223.jpeg 489.jpeg 291.jpeg 282.jpeg 896.jpeg', 'g0') + brn(3)%>
<%= photo('768.jpeg') + brn(10)%>
</div>
