- content_for :title,  "Orders"
.page-header
  %h1 Orders
-@orders.each do |order|
  = render :partial => 'order', :locals => {order: order}
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = paginate @orders
