- content_for :title,  t('pistols')
- content_for :header,  t('pistols')
- content_for :head do
  %meta{content: ", Todd Ramirez, Premium Rifles, custom rifles, custom rifle builer, accuracy rifles, biggame rifles,  Bolt Action Rifles, Gunsmith, Gunfitting", name: "Keywords"}/
  %meta{content: " Todd Ramirez premium rifles, Custom Shop, LLC, specializes in high quality rifle building, building premium bolt action rifles, gunsmithing and restoration services to the sporting arms community.", name: "Description"}/
#content
  =link_to('For pistolsmithing see Gunsmithing page',gunsmithing_path)+ brn(2)
  = p('pistol_text6_html')
  =gallery_text('7624.jpeg 7656.jpeg','g1','pistol_text0','glock 45, customized glock') + brn(5)
  =gallery_text('7653.jpeg 7655.jpeg','g2','pistol_text1','9mm glock, full custom glock') + brn(5)
  =gallery_text('7644.jpeg 7647.jpeg','g3','pistol_text2','sig sauer custom paint, 380 sig custom') + brn(5)
  =gallery_text('7638.jpeg 7646.jpeg','g4','pistol_text3', 'custom 1911 custom paint, 1911 skull paint job') + brn(5)
  =gallery_text('7632.jpeg 7634.jpeg','g5','pistol_text4','custom 1911 build, custom 1911 paint') + brn(5)
  =gallery_text('7627.jpeg 7662.jpeg','g6','pistol_text5','1911 p12 custom build, 1911 p12 custom paint') + brn(5)
