<% content_for :title,  t('bracelet_helpers') %>
<% content_for :header,  t('bracelet_helpers') %>
<% content_for :head do %>
<meta name="Keywords" content=",bracelet helper, bracelet assistant, bridal gifts, mother's day gifts">
<meta name="description=&quot;&quot;" content="Handmade bracelet helpers, so you can put your bracelets on with one hand">
<% end %>
<div id="content">
<%=br() + photo_text('495.jpeg','bracelet_helpers_text0_html') +  brn(15)%>
</div>
