- content_for :title,  "Approved"
.page-header
  %h1 Your order has been proccessed

%p
  ="You can view information about your order under "
  =link_to 'Orders', orders_path

%p
  Thank you for shopping
