- content_for :title,  "Disapproved"
.page-header
  %h1 Your order has failed to be proccessed

%p
  Due to payment and billing failure, we are unable to complete your order.

%p
  Thank you for shopping
