= form_for @address do |f|
  - if @address.errors.any?
    #error_explanation
      %h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
      %ul
        - @address.errors.full_messages.each do |msg|
          %li= msg
  .field
    .input-group
      %span#prefix-addon.input-group-addon Prefix
      = f.text_field :prefix, class: "form-control input-lg","aria-describedby" => "prefix-addon"
  .field
    .input-group
      %span#first_name-addon.input-group-addon First Name
      = f.text_field :first_name, class: "form-control input-lg","aria-describedby" => "first_name-addon"
  .field
    .input-group
      %span#middle_name-addon.input-group-addon Middle Name
      = f.text_field :middle_name, class: "form-control input-lg","aria-describedby" => "middle_name-addon"
  .field
    .input-group
      %span#last_name-addon.input-group-addon Last Name
      = f.text_field :last_name, class: "form-control input-lg","aria-describedby" => "last_name-addon"
  .field
    .input-group
      %span#suffix-addon.input-group-addon Suffix
      = f.text_field :suffix, class: "form-control input-lg","aria-describedby" => "suffix-addon"
  .field
    .input-group
      %span#address_line1-addon.input-group-addon Address Line 1
      = f.text_field :address_line1, class: "form-control input-lg","aria-describedby" => "address_line1-addon"
  .field
    .input-group
      %span#address_line2-addon.input-group-addon Address Line 2
      = f.text_field :address_line2, class: "form-control input-lg","aria-describedby" => "address_line2-addon"
  .field
    .input-group
      %span#country-addon.input-group-addon Country
      = f.hidden_field :country, value: "US"
      = f.country_select :country, { priority_countries: [ "US"] }, { value: 'US',  class: "form-control input-lg","aria-describedby": "country-addon", disabled: true }
  .field
    .input-group
      %span#region-addon.input-group-addon State/Province/Principality/Region
      = f.text_field :state,  class: "form-control input-lg","aria-describedby" => "region-addon"
  .field
    .input-group
      %span#city-addon.input-group-addon City
      = f.text_field :city,  class: "form-control input-lg","aria-describedby" => "city-addon"
  .field
    .input-group
      %span#zip-addon.input-group-addon Zip
      = f.text_field :zip, class: "form-control input-lg","aria-describedby" => "zip-addon"
  .field
    .input-group
      %span#phone-addon.input-group-addon Phone
      = f.text_field :phone, class: "form-control input-lg","aria-describedby" => "phone-addon"
  .field
    .input-group
      %span#fax-addon.input-group-addon Fax
      = f.text_field :fax, class: "form-control input-lg","aria-describedby" => "fax-addon"
  .field
    .input-group
      %span#company-addon.input-group-addon Company
      = f.text_field :company, class: "form-control input-lg","aria-describedby" => "company-addon"
  .actions
    %p
    = f.submit 'Save', name: "address_select", class: 'btn btn-primary'
%p
