%h1 Edit address

-if params[:address_select]
  =render 'address_select_form'
-else
  = render 'form'

/= link_to 'Show', @address, class: 'btn btn-primary'
/\|
= link_to 'Back', :back, class: 'btn btn-primary'
