<% content_for :title,  t('media') %>
<% content_for :header,  t('media') %>
<% content_for :head do %>
<meta name="Keywords" content="todd ramirez, gunsmith,rifle builder,premium rifles, gunwork">
<meta name="Description" content="Todd Ramirez Premium Bolt Action Rifle Builder, Unique One of a kind rifles.">
<% end %>
<div id="content">
<%= brn(2) +  xtext('media_text0_html')+ brn(23)%>
</div>
