- content_for :title,  t('media')
- content_for :header,  t('media')
- content_for :head do
  %meta{content: "todd ramirez, gunsmith,rifle builder,premium rifles, gunwork", name: "Keywords"}/
  %meta{content: "Todd Ramirez Premium Bolt Action Rifle Builder, Unique One of a kind rifles.", name: "Description"}/
#content
  = brn(2) +  xtext('media_text0_html')+ brn(30)
