<% content_for :title,  t('about') %>
<% content_for :header,  t('about') %>
<% content_for :head do %>
<meta name="Keywords" content=", Todd Ramirez, Premium Rifles, custom rifles, custom rifle builer, accuracy rifles, biggame rifles,  Bolt Action Rifles, Gunsmith, Gunfitting">
<meta name="Description" content=" Todd Ramirez premium rifles, Custom Shop, LLC, specializes in high quality rifle building, building premium bolt action rifles, gunsmithing and restoration services to the sporting arms community.">
<% end %>
<div id="content">
<%= br() + photo('544.jpeg')%>
<%= brn(2) + ptext('about_text0') + brn(25)%>
</div>
