/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require vendor
 *= require theme
 */

.col-xs-3rds,
.col-sm-3rds,
.col-md-3rds,
.col-lg-3rds {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-3rds {
    width: 33.3%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-3rds {
        width: 33.3%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-3rds {
        width: 33.3%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-3rds {
        width: 33.3%;
        float: left;
    }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


.ssl-box{
    display: inline-block;
    background: white;
    padding-top: 1px;
    padding-bottom: 4px;
    padding-right: 1px;
    padding-left: 26px;
}

#container{
    min-height: 100%;
    position: relative;
}

#footer{
    text-indent:0;
    display: block;
    width: 100%;
    text-align: center;
    text-bottom: center;
    word-wrap: break-word;
    font-size: 100%;
    font-family: Georgia, serif;
    text-decoration: none;
}

#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 12%;
    height: 12%;
    max-width: 128px;
    max-height: 128px;
    font-size: medium;
    text-align: center;
    cursor: pointer;
}
#menu img{
    left: 0;
    top: 0;
    padding: 2px 2px 2px 2px;
    width: 100%;
    cursor: pointer;
}
#content img{
  display: inline-block;
  max-width: 100%;
}


html, body {
    text-align: center;
    margin: 0;
    padding:0;
    height:100%;
    width: 100%;
    text-decoration: none;
    font-size: large;
}

#box{
  margin-left: 0px;
  margin-right: 0px;
}

#cbox{
  margin-left: 7%;
  margin-right: 7%;
}

#content{
    display:inline-block;
    padding: 16px 2px 16px 2px;
    width: 85%;
    height: 100%;
    word-wrap: break-word;
}

#dash{
    font-size: x-large;
    transparent: 80%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    font-family: Georgia, serif;
    text-decoration: none;
    overflow: auto;
}

.close_button {
    display:inline-block;
    font-family:Arial;
    font-size:60px;
    font-weight:bold;
    font-style:normal;
    height:65px;
    line-height:65px;
    width:64px;
    text-decoration:none;
    text-align:center;
    position: absolute;
    left: 0;
    cursor: pointer;
}
.close_button:hover {
    text-decoration: none;
    position: absolute;
    left: 0;
}
.close_button:active {
    position:relative;
    top:1px;
    position: absolute;
    left: 0;
    text-decoration: none;
}

.menu_button {
    -webkit-border-top-left-radius:2px;
    -moz-border-radius-topleft:2px;
    border-top-left-radius:2px;
    -webkit-border-top-right-radius:2px;
    -moz-border-radius-topright:2px;
    border-top-right-radius:2px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0px;
    font-size: medium;
    font-style:normal;
    text-decoration:none;
    text-align:center;
    display: inline-block;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    padding: 5px;
    vertical-align: top;
}

.menu_button img{
    width: 100%;
    display: inline-block;
}

div.centered{
    text-align: center;
}

div.centered table{
    text-align:center;
    margin: auto;
}

table{
    border-spacing: 10px;
    border-collapse: separate;
    table-layout: fixed;
    margin-left: 2em;
    margin-right: 2em
}


#actual-table {
    border-collapse: collapse;
}

#actual-table td {
    width: 20%;
    height : 100%;
    padding: 10px;
    vertical-align: top;
}

#actual-table td:nth-child(even) {
    //	background: #ccc;
}
#actual-table td:nth-child(odd) {
    //	background: #eee;
}

#page-title {
    text-indent:0;
    padding: 5px 5px 5px 5px;
    display:inline-block;
    font-size: x-large;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    width: 80%;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

ttext{
    font-size: x-large;
    display: inline-block;
    text-decoration: none;
}

xtext{
    font-size: x-large;
    display: inline-block;
    text-decoration: none;
}

ptext{
    text-decoration: none;
}

a{
    text-decoration: none;
}

qtext{
    font-style:italic;
    display: inline-block;
}

itext{
    display: inline-block;
}

#social{
    border-collapse: collapse;
}
#social td {
    vertical-align: top;
    text-align: center;
}

table.pricetab{
    width: 96%;
    background: rgba(256, 256, 256, 0.10);
}


.pricetab td:nth-child(1){
    width:80%;
    text-align: left;
    padding-right: 1em;
}

.pricetab td:nth-child(2){
    width:20%;
    text-align:left;
}

.pricetab th:nth-child(1){
    width:80%;
    text-align:left;
    padding-right: 1em;
    font-weight:bold;
}

.pricetab th:nth-child(2){
    width:20%;
    text-align:left;
    font-weight:bold;
}




.slider{
	display: inline-block;
	width: 80%;
	position: relative;
	padding-bottom: 60%;
	//box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


.slider>img{
	display:inline-block;
	max-height:720px;
	max-width: 100%;
	width: auto;
	height: auto;
	margin: auto;
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	display: block;
	margin: 0 0 0 18px;
	//border: 3px solid #999;
	height: 100%;
	max-height: 160px;
	max-width: 20%;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
}

.slider label img{
	width: auto;
	height: auto;
	max-height: 160px;
	height: auto;
	display: inline-block;
}


.slider input[name='slide_switch']:checked+label {
	//border-color: #888;
	opacity: 1;
}


.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}


.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}


.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
