- content_for :title,  "Contact"
.page-header
  %h1 Contact
  %b
%h4
%br
%h3
  %b Custom Shop, LLC
%h4 7680 North U.S. Highway 69
%h4 Alba, Texas 75410
%h4 Phone:  903-768-2948
%h4= link_to 'Email: customtomgun.tr@gmail.com', "mailto:customgun.tr@gmail.com"
