.page-header
  %h1 Store

.well
  .row
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/barrels.svg"), barrels_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/decor.svg"), decor_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/gifts.svg"), gifts_path)
      %p
  .row
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/gun_cases.svg"), gun_cases_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/gun_parts.svg"), gunparts_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/guns.svg"), guns_path)
      %p
  .row
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/jewelry.svg"), jewelry_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/optics.svg"), optics_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/wood.svg"), wood_path)
      %p

.panel-header
  %h2 Featured Products
.well
  .row
    -@products.each do |product|
      .col-md-4.col-sm-4.col-xs-12
        =link_to(product.title.titleize, product) + |
          (br() + link_to(image_tag(product.photos.first.image.thumb), product) unless product.photos.first.nil?) + |
          (br() +" Price: " + (number_to_currency product.price).to_s unless product.price.nil?) |
        %p
