.page-header
  %h1 Store
.well
  .row
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/barrels.png"), barrels_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/custom_parts.png"), custom_parts_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/decor.png"), decor_path)
      %p
  .row
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/gifts.png"), gifts_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/gun_cases.png"), gun_cases_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/gun_parts.png"), gunparts_path)
      %p
  .row
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/guns.png"), guns_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/jewelry.png"), jewelry_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/new_arrivals.png"), new_arrivals_path)
      %p
  .row
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/optics.png"), optics_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/sale_items.png"), sale_items_path)
      %p
    .col-md-4.col-sm-4.col-xs-12
      .widewrapper=link_to(image_tag("theme/store_default/wood.png"), wood_path)
      %p
.panel-header
  %h2 Featured Products
.well
  =render :partial => 'entries', :locals => {products: @products}
:javascript
  $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
  });
