- content_for :title,  "Payment Policy"
.page-header
  %h1 Payment Policy
  %b
%h3
  Accepted Methods of Payment
%h4
%b
  Credit Card (Visa, Master Card, American Express, Discover)
  Check/Money Order.
%br
%br
%h3
  Credit Card Charges
%p
Your credit card will be charged when you place your order. If we are not able to fulfill your order for any reason your credit card will be refunded.Please note orders may be cancelled at any time for insufficient stock, inability to process payment or any other reason deemed relevant by Custom Shop, LLC. On this rare occasion, you will be notified by email within 2-3 days.
%b
%h3
  Mailing Address For Check/Certified Bank Check, or Money Order
%b
%h4
%br
Custom Shop, LLC
%br
7680 North U.S. Highway 69
%br
Alba, Texas 75410
