- content_for :title,  "Return Policy"
.page-header
  %h1 Return Policy
  %h3
    Returns, Refunds and Exchanges Policy
%p
How To Return An Item
Your item must be in its original unused condition to be returned, unless there is a manufacturer defect. You must return the item within 15 days of your purchase.
%br
%br
1. Please email customgun.tr@gmail.com  to request a refund and we will assign you a tracking #.
%br
%br
2. Mail your returned item to:
%br Custom Shop LLC
Returns Department Tracking #
7680 North U.S. Highway 69
Alba, Texas 75410
%br
%br
3. Include in your package a signed letter stating the reason for your return and the original receipt.
%h3
  Return Exceptions
%p
  Some items can not be returned if they are opened. These include music, software, and video games.

  Merchandise that has been worn, used, or altered will not be accepted for return or exchange.
  %h3
    Restocking Fee
%p
All items are subject to a 20% restocking fee, this will be deducted from your refund. We also do not refund the original shipping and handling that you paid on the order.
%h3
  Exchanges
%p
  If your clothing item is in like new condition, you may exchange your clothing item for a different size or color. You will not be subject to a restocking fee in this case, but you still will have to pay return shipping.
  %h3
    Gun Part Policy
%p
You may return unaltered items purchased through Custom Shop, LLC within 15 days of purchase for an exchange, refund, or store credit. An unaltered item means that no modification such as grinding, fitting, drilling, sanding, chemical cleaning, restoration, painting or other changes of any kind has occurred. Altered products or products in abused condition will be returned to the customer at their expense.
Should you need to return an item please contact us at customgun.tr@gmail.com or call us at 903-768-2948. We will do our best to resolve any issue and answer any questions before a return is needed. Many of our customers find that having a few questions answered prior to the return of a product may resolve the issues they encounter.
We try our best to select and ship the correct item(s) in each order. Unfortunately, selection errors are sometimes made and not caught prior to shipping. In the event the error is caused by Custom Shop, LLC, we will refund your return shipping cost up to the original invoice shipping charge. If this is not the case the buyer may be responsible for all shipping costs associated with any return or exchange. We do not refund for additional services such as Delivery Confirmation, Insurance, etc. Please properly package the return to the address listed below and we will be happy to contact you by phone or e-mail when we receive the package. Include a copy of the original invoice or the original order number and daytime customer contact information in your return.
%p
  %br
  ATTN: Customer Service
  %br
  Custom Shop, LLC
  %br
  7680 North U.S. Highway 69
  %br
  Alba, Texas 75410
