- content_for :title,  "Sales Tax"
.page-header
  %h1 Sales Tax
%p
  Custom Shop, LLC  shall automatically charge and withhold the applicable sales tax of 6.75% for orders to be delivered to addresses within the state of Texas. For orders shipped to other states, you are solely responsible for all sales taxes or other taxes.
