- content_for :title,  "Shipping Policy"
.page-header
  %h1 Shipping Policy
%h2
  Turnaround
%p

  All orders are shipped within 72 hours Monday - Friday 8am - 5pm.
%h2
  Carriers

%p
  We use the following carriers to deliver our orders:

%h4
  USPS
%h4
  FedEx
%h2
  Order Tracking
%p
If a tracking # is provided by the shipping carrier, we will update your order with the tracking information. Please note that some orders using 1st Class USPS mail will not have tracking numbers.
%h2
  Shipping Rates
%p
The rate charged for the shipping of your order is based on the weight of your products, and your location. Before the final checkout page you will be shown what the cost of shipping will be, and you will have a chance to not place your order if you decide not to.
%h2
  Shipping/Delivery Area
%p
We ship orders to physical addresses within the 50 United States. We require a physical address for delivery, therefore we cannot fulfill orders shipping to AFO (Armed Forces Oversees) and FPO (Fleet Post Office), or to U.S. Post Office Box addresses.
Online ordering is only available for shipments going to the contiguous U.S. If you are shipping to Hawaii, Alaska, or one of the U.S. territories, please call Customer Service at 903-768-2948 to place your order. Customer Service hours are Monday through Friday, 9 a.m. to 5 p.m. Eastern Time (CST).
%br
%h2
  Scope Shipping
%p
  Attention customers: We do not ship rifle scopes internationally.  Address, we ship scopes to must match your billing address on your credit card.
%h2
  Gun Shipping
%br
%p
**PLEASE NOTE: All Firearms MUST be shipped to Licensed Firearms Dealer. We will contact you for a copy of the FFL that you would like to use to transfer this firearm. **
%br

%h2
  International Orders
%p
We are presently unable to ship orders outside the United States.

%h2
  Back Orders
%p
If an item goes on back order we will ship you the part of your order that is in stock. When the item becomes available we will ship you the rest of your order. You will not be charged any additional shipping and handling for the second shipment.
